<.page title="差旅" id="home">
  <.section layout="none" id="search_section">
    <.tabs default="flight" id="search_tabs">
      <.tabs_list id="tab_list">
        <.tabs_trigger value="flight" id="trigger_flight">
          机票
        </.tabs_trigger>
        <.tabs_trigger value="hotel" id="trigger_hotel">
          酒店
        </.tabs_trigger>
        <.tabs_trigger value="train" id="trigger_train">
          火车票
        </.tabs_trigger>
      </.tabs_list>
      <.tabs_content value="flight" id="flight_tab_content">
        <.stack gap={4} direction="column" id="flight_form">
          <.stack gap={3} direction="column" id="flight_fields">
            <.input label="出发城市" placeholder="请选择出发城市" bind="form.departure_city" size="md" id="departure_city_input" />
            <.input label="目的城市" placeholder="请选择目的城市" bind="form.arrival_city" size="md" id="arrival_city_input" />
            <.input label="出发日期" placeholder="请选择日期" bind="form.departure_date" type="date" size="md" id="departure_date_input" />
            <.flex gap={2} align="center" direction="row" id="direct_only_row">
              <.switch label="仅看直飞" bind="form.direct_only" size="md" id="direct_only_switch" />
            </.flex>
            <.button variant="primary" size="lg" phx-click="navigate:/travel/flight/search" id="search_flight_btn">
              因公出行?搜索机票
            </.button>
          </.stack>
        </.stack>
      </.tabs_content>
      <.tabs_content value="hotel" id="hotel_tab_content">
        <.stack gap={4} direction="column" id="hotel_form">
          <.stack gap={3} direction="column" id="hotel_fields">
            <.input label="城市" placeholder="请选择城市" bind="form.hotel_city" size="md" id="hotel_city_input" />
            <.flex gap={2} direction="row" id="hotel_date_row">
              <.input label="入住日期" placeholder="请选择" bind="form.checkin_date" type="date" size="md" id="checkin_date_input" />
              <.input label="退房日期" placeholder="请选择" bind="form.checkout_date" type="date" size="md" id="checkout_date_input" />
            </.flex>
            <.input label="关键词" placeholder="酒店名/商圈/地标" bind="form.hotel_keyword" size="md" id="hotel_keyword_input" />
            <.button variant="primary" size="lg" phx-click="navigate:/travel/hotel/search" id="search_hotel_btn">
              因公出行?搜索酒店
            </.button>
          </.stack>
        </.stack>
      </.tabs_content>
      <.tabs_content value="train" id="train_tab_content">
        <.stack gap={4} direction="column" id="train_form">
          <.stack gap={3} direction="column" id="train_fields">
            <.input label="出发站" placeholder="请选择出发站" bind="form.departure_station" size="md" id="departure_station_input" />
            <.input label="到达站" placeholder="请选择到达站" bind="form.arrival_station" size="md" id="arrival_station_input" />
            <.input label="出发日期" placeholder="请选择日期" bind="form.train_date" type="date" size="md" id="train_date_input" />
            <.flex gap={2} align="center" direction="row" id="high_speed_row">
              <.switch label="只看高铁动车" bind="form.high_speed_only" size="md" id="high_speed_switch" />
            </.flex>
            <.button variant="primary" size="lg" phx-click="navigate:/travel/train/search" id="search_train_btn">
              因公出行?搜索火车票
            </.button>
          </.stack>
        </.stack>
      </.tabs_content>
    </.tabs>
  </.section>
  <.section layout="none" id="bottom_nav">
    <.flex justify="around" direction="row" id="nav_bar">
      <.button variant="ghost" icon="home" phx-click="navigate:/travel" size="md" id="nav_home">
        首页
      </.button>
      <.button variant="ghost" icon="calendar" phx-click="navigate:/travel/trips" size="md" id="nav_trips">
        行程
      </.button>
      <.button variant="ghost" icon="list" phx-click="navigate:/travel/orders" size="md" id="nav_orders">
        订单
      </.button>
      <.button variant="ghost" icon="user" phx-click="navigate:/travel/profile" size="md" id="nav_profile">
        我的
      </.button>
    </.flex>
  </.section>
</.page>