<.page title="HotelOffer 列表" id="hotel_offer_list">
  <.section direction="row" justify="between" align="center" layout="grid" columns={2} id="hotel_offer_header">
    <.text variant="title" id="hotel_offer_title">
      <%= @page_title %>
    </.text>
    <.button variant="primary" phx-click="navigate_create" size="md" id="hotel_offer_create_btn">
      新建
    </.button>
  </.section>
  <.card variant="default" id="hotel_offer_filter_card">
    <.card_content id="hotel_offer_filter_content">
      <.flex gap={4} align="center" direction="row" id="hotel_offer_filter_row">
        <.input name="checkin_date_from" label="入住日期 起" size="md" id="filter_checkin_date_from" />
        <.input name="checkin_date_to" label="入住日期 止" size="md" id="filter_checkin_date_to" />
        <.input name="checkout_date_from" label="离店日期 起" size="md" id="filter_checkout_date_from" />
        <.input name="checkout_date_to" label="离店日期 止" size="md" id="filter_checkout_date_to" />
        <.select name="sale_status" label="可售状态" size="md" id="filter_sale_status">

        </.select>
        <.button variant="secondary" phx-click="filter_submit" size="md" id="hotel_offer_filter_submit">
          查询
        </.button>
      </.flex>
    </.card_content>
  </.card>
  <.table id="hotel_offer_table">
    <.table_header id="hotel_offer_table_header">
      <.table_row id="hotel_offer_header_row">
        <.table_head id="th_supplier_code">
          供应商编码
        </.table_head>
        <.table_head id="th_hotel_code">
          酒店编码
        </.table_head>
        <.table_head id="th_hotel_name">
          酒店名称
        </.table_head>
        <.table_head id="th_city_code">
          城市编码
        </.table_head>
        <.table_head id="th_room_type_code">
          房型编码
        </.table_head>
        <.table_head id="th_rate_plan_code">
          价计划编码
        </.table_head>
        <.table_head id="th_checkin_date">
          入住日期
        </.table_head>
        <.table_head id="th_checkout_date">
          离店日期
        </.table_head>
        <.table_head id="th_listed_price">
          对客展示价快照
        </.table_head>
        <.table_head id="th_settlement_price">
          结算价快照
        </.table_head>
        <.table_head id="th_currency">
          币种
        </.table_head>
        <.table_head id="th_inventory_count">
          可售库存快照
        </.table_head>
        <.table_head id="th_cancellation_policy">
          取消规则快照
        </.table_head>
        <.table_head id="th_guarantee_policy">
          担保规则快照
        </.table_head>
        <.table_head id="th_sale_status">
          可售状态
        </.table_head>
        <.table_head id="hotel_offer_th_actions">
          操作
        </.table_head>
      </.table_row>
    </.table_header>
    <.table_body id="hotel_offer_table_body">
      <%= for row <- (@rows || []) do %>
        <.table_row>
          <.table_cell>
            <%= get_in(row, [:supplier_code]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:hotel_code]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:hotel_name]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:city_code]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:room_type_code]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:rate_plan_code]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:checkin_date]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:checkout_date]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:listed_price]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:settlement_price]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:currency]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:inventory_count]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:cancellation_policy]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= get_in(row, [:guarantee_policy]) || "" %>
          </.table_cell>
          <.table_cell>
            <%= if (val = get_in(row, [:sale_status])) && to_string(val) != "" do %>
              <.badge variant="default" size="sm">
                <%= to_string(val) %>
              </.badge>
            <% end %>
          </.table_cell>
          <.table_cell>
            <.link patch={"/pages/travel/hotel_offer/#{get_in(row, [:id])}"} id="hotel_offer_view_btn" variant="link" size="sm">
              查看
            </.link>
          </.table_cell>
        </.table_row>
      <% end %>
    </.table_body>
  </.table>
  <%= if (@rows_empty && @rows_empty != []) do %>
    <.empty_state description="暂无酒店可售 offer,承载房型、价计划、价态和可售规则快照数据" id="hotel_offer_no_data" />
  <% end %>
</.page>