<.page title="TravelCabinClass 列表" id="travel_cabin_class_list">
  <.section direction="row" justify="between" align="center" layout="grid" columns={2} id="travel_cabin_class_header">
    <.text variant="title" id="travel_cabin_class_title">
      <%= @page_title %>
    </.text>
    <.button variant="primary" phx-click="navigate_create" size="md" id="travel_cabin_class_create_btn">
      新建
    </.button>
  </.section>
  <.card variant="default" id="travel_cabin_class_filter_card">
    <.card_content id="travel_cabin_class_filter_content">
      <.flex gap={4} align="center" direction="row" id="travel_cabin_class_filter_row">
        <.select name="status" label="status" size="md" id="filter_status">

        </.select>
        <.button variant="secondary" phx-click="filter_submit" size="md" id="travel_cabin_class_filter_submit">
          查询
        </.button>
      </.flex>
    </.card_content>
  </.card>
  <.table id="travel_cabin_class_table">
    <.table_header id="travel_cabin_class_table_header">
      <.table_row id="travel_cabin_class_header_row">
        <.table_head id="th_cabin_class_code">
          舱位规范编码
        </.table_head>
        <.table_head id="th_cabin_class_name">
          舱位名称
        </.table_head>
        <.table_head id="th_cabin_rank">
          舱位等级序
        </.table_head>
        <.table_head id="th_status">
          status
        </.table_head>
      </.table_row>
    </.table_header>
    <.table_body id="travel_cabin_class_table_body">
      <%= for row <- @rows do %>
        <.table_row>
          <.table_cell>
            <%= row.cabin_class_code %>
          </.table_cell>
          <.table_cell>
            <%= row.cabin_class_name %>
          </.table_cell>
          <.table_cell>
            <%= row.cabin_rank %>
          </.table_cell>
          <.table_cell>
            <.badge variant="default" size="sm">
              <%= row.status %>
            </.badge>
          </.table_cell>
        </.table_row>
      <% end %>
    </.table_body>
  </.table>
  <%= if (@rows_empty && @rows_empty != []) do %>
    <.empty_state description="暂无舱位主数据（Travel 层,来源 OFBiz Enumeration）数据" id="travel_cabin_class_no_data" />
  <% end %>
</.page>