<.page title="TravelRoomType 列表" id="travel_room_type_list">
  <.section direction="row" justify="between" align="center" layout="grid" columns={2} id="travel_room_type_header">
    <.text variant="title" id="travel_room_type_title">
      <%= @page_title %>
    </.text>
    <.button variant="primary" phx-click="navigate_create" size="md" id="travel_room_type_create_btn">
      新建
    </.button>
  </.section>
  <.card variant="default" id="travel_room_type_filter_card">
    <.card_content id="travel_room_type_filter_content">
      <.flex gap={4} align="center" direction="row" id="travel_room_type_filter_row">
        <.select name="status" label="status" size="md" id="filter_status">

        </.select>
        <.button variant="secondary" phx-click="filter_submit" size="md" id="travel_room_type_filter_submit">
          查询
        </.button>
      </.flex>
    </.card_content>
  </.card>
  <.table id="travel_room_type_table">
    <.table_header id="travel_room_type_table_header">
      <.table_row id="travel_room_type_header_row">
        <.table_head id="th_room_type_code">
          房型规范编码
        </.table_head>
        <.table_head id="th_room_type_name">
          房型名称
        </.table_head>
        <.table_head id="th_hotel_code">
          酒店编码冗余（便于兼容检索）
        </.table_head>
        <.table_head id="th_bed_type">
          床型
        </.table_head>
        <.table_head id="th_status">
          status
        </.table_head>
      </.table_row>
    </.table_header>
    <.table_body id="travel_room_type_table_body">
      <%= for row <- @rows do %>
        <.table_row>
          <.table_cell>
            <%= row.room_type_code %>
          </.table_cell>
          <.table_cell>
            <%= row.room_type_name %>
          </.table_cell>
          <.table_cell>
            <%= row.hotel_code %>
          </.table_cell>
          <.table_cell>
            <%= row.bed_type %>
          </.table_cell>
          <.table_cell>
            <.badge variant="default" size="sm">
              <%= row.status %>
            </.badge>
          </.table_cell>
        </.table_row>
      <% end %>
    </.table_body>
  </.table>
  <%= if (@rows_empty && @rows_empty != []) do %>
    <.empty_state description="暂无酒店房型主数据（Travel 层,来源 OFBiz ProductFeature）数据" id="travel_room_type_no_data" />
  <% end %>
</.page>