<.page title="列表" id="travel_airline_list">
  <.section layout="none" id="header">
    <.flex justify="between" align="center" direction="row" id="header_bar">
      <.stack direction="column" id="page_meta">
        <.text variant="caption" color="muted" id="breadcrumb">
          TravelAirline
        </.text>
        <.text variant="h1" id="page_title">
          航司主数据（Travel 层,来源 OFBiz PartyGroup）
        </.text>
      </.stack>
      <.button variant="primary" phx-click="navigate_create" size="md" id="create_btn">
        新建
      </.button>
    </.flex>
  </.section>
  <.section layout="none" id="view_tabs">
    <.tabs default_value="all" id="view_selector">
      <.tabs_list id="view_tab_list">
        <.tabs_trigger value="all" active_value="all" id="trigger_all">
          全部
        </.tabs_trigger>
      </.tabs_list>
    </.tabs>
  </.section>
  <.section layout="none" id="filter_section">
    <.card variant="default" id="filter_card">
      <.card_content id="filter_content">
        <.flex gap={4} align="center" direction="row" id="filter_row">
          <.stack direction="column" id="filter_fields" />
          <.button variant="secondary" phx-click="filter_submit" size="md" id="filter_submit">
            查询
          </.button>
        </.flex>
      </.card_content>
    </.card>
  </.section>
  <.section layout="none" id="table_section">
    <.table id="data_table">
      <.table_header id="data_header">
        <.table_row id="header_row">
          <.table_head id="th_airline_code">
            航司规范编码
          </.table_head>
          <.table_head id="th_airline_name">
            航司名称
          </.table_head>
          <.table_head id="th_iata_code">
            IATA 二字码
          </.table_head>
          <.table_head id="th_icao_code">
            ICAO 三字码
          </.table_head>
          <.table_head id="th_status">
            status
          </.table_head>
        </.table_row>
      </.table_header>
      <.table_body id="data_body">
        <%= for {row, idx} <- Enum.with_index((@rows || [])) do %>
          <.table_row phx-click="row_click" phx-value-id={row.id} id="travel_airline_row">
            <.table_cell id="td_airline_code">
              <%= get_in(row, [:airline_code]) |> then(fn v when is_binary(v) and v != "" -> v; _ -> "" end) %>
            </.table_cell>
            <.table_cell id="td_airline_name">
              <%= get_in(row, [:airline_name]) |> then(fn v when is_binary(v) and v != "" -> v; _ -> "" end) %>
            </.table_cell>
            <.table_cell id="td_iata_code">
              <%= get_in(row, [:iata_code]) |> then(fn v when is_binary(v) and v != "" -> v; _ -> "" end) %>
            </.table_cell>
            <.table_cell id="td_icao_code">
              <%= get_in(row, [:icao_code]) |> then(fn v when is_binary(v) and v != "" -> v; _ -> "" end) %>
            </.table_cell>
            <.table_cell id="td_status">
              <%= if (val = get_in(row, [:status])) && to_string(val) != "" do %>
                <.badge variant="default" size="sm" id="badge_status">
                  <%= to_string(val) %>
                </.badge>
              <% end %>
            </.table_cell>
          </.table_row>
        <% end %>
      </.table_body>
    </.table>
  </.section>
  <.section layout="none" id="empty_section">
    <%= if (@rows_empty && @rows_empty != []) do %>
      <.empty_state description="暂无数据" id="no_data" />
    <% end %>
  </.section>
  <.section layout="none" id="footer">
    <.flex gap={2} direction="row" justify="center" id="pagination_bar">
      <.button phx-click="travel_airline_page_prev" variant="primary" size="md" id="page_prev">
        上一页
      </.button>
      <.text id="page_info">
        <%= get_in(@travel_airline, [:page]) |> then(fn v when is_binary(v) and v != "" -> v; _ -> "" end) %> / <%= get_in(@travel_airline, [:total_pages]) |> then(fn v when is_binary(v) and v != "" -> v; _ -> "" end) %>
      </.text>
      <.button phx-click="travel_airline_page_next" variant="primary" size="md" id="page_next">
        下一页
      </.button>
    </.flex>
  </.section>
</.page>