<.page title="列表" id="vacation_offer_list">
  <.section layout="none" id="header">
    <.flex justify="between" align="center" direction="row" id="header_bar">
      <.stack direction="column" id="page_meta">
        <.text variant="caption" color="muted" id="breadcrumb">
          VacationOffer
        </.text>
        <.text variant="h1" id="page_title">
          度假可售 offer,承载套餐、出发日期和预订规则快照
        </.text>
      </.stack>
      <.button variant="primary" phx-click="navigate_create" size="md" id="create_btn">
        新建
      </.button>
    </.flex>
  </.section>
  <.section layout="none" id="view_tabs">
    <.tabs default_value="all" id="view_selector">
      <.tabs_list id="view_tab_list">
        <.tabs_trigger value="all" active_value="all" id="trigger_all">
          全部
        </.tabs_trigger>
      </.tabs_list>
    </.tabs>
  </.section>
  <.section layout="none" id="filter_section">
    <.card variant="default" id="filter_card">
      <.card_content id="filter_content">
        <.flex gap={4} align="center" direction="row" id="filter_row">
          <.stack direction="column" id="filter_fields" />
          <.button variant="secondary" phx-click="filter_submit" size="md" id="filter_submit">
            查询
          </.button>
        </.flex>
      </.card_content>
    </.card>
  </.section>
  <.section layout="none" id="table_section">
    <.table id="data_table">
      <.table_header id="data_header">
        <.table_row id="header_row">
          <.table_head id="th_supplier_code">
            供应商编码
          </.table_head>
          <.table_head id="th_package_code">
            套餐编码
          </.table_head>
          <.table_head id="th_package_name">
            套餐名称
          </.table_head>
          <.table_head id="th_package_type">
            套餐类型
          </.table_head>
          <.table_head id="th_departure_city_code">
            出发城市编码
          </.table_head>
          <.table_head id="th_destination_code">
            目的地编码
          </.table_head>
          <.table_head id="th_start_date">
            出行开始日期
          </.table_head>
          <.table_head id="th_end_date">
            出行结束日期
          </.table_head>
          <.table_head id="th_listed_price">
            对客展示价快照
          </.table_head>
          <.table_head id="th_settlement_price">
            结算价快照
          </.table_head>
          <.table_head id="th_currency">
            currency
          </.table_head>
          <.table_head id="th_inventory_count">
            可售库存快照
          </.table_head>
          <.table_head id="th_booking_rules">
            预订规则快照
          </.table_head>
          <.table_head id="th_cancellation_policy">
            取消规则快照
          </.table_head>
          <.table_head id="th_sale_status">
            sale_status
          </.table_head>
        </.table_row>
      </.table_header>
      <.table_body id="data_body">
        <%= for row <- (@rows || []) do %>
          <.table_row>
            <.table_cell>
              <%= get_in(row, [:supplier_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:package_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:package_name]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= if (val = get_in(row, [:package_type])) && to_string(val) != "" do %>
                <.badge variant="default" size="sm">
                  <%= to_string(val) %>
                </.badge>
              <% end %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:departure_city_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:destination_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:start_date]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:end_date]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:listed_price]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:settlement_price]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:currency]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:inventory_count]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:booking_rules]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:cancellation_policy]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= if (val = get_in(row, [:sale_status])) && to_string(val) != "" do %>
                <.badge variant="default" size="sm">
                  <%= to_string(val) %>
                </.badge>
              <% end %>
            </.table_cell>
          </.table_row>
        <% end %>
      </.table_body>
    </.table>
  </.section>
  <.section layout="none" id="empty_section">
    <%= if (@rows_empty && @rows_empty != []) do %>
      <.empty_state description="暂无数据" id="no_data" />
    <% end %>
  </.section>
  <.section layout="none" id="footer">
    <.flex gap={2} direction="row" justify="center" id="pagination_bar">
      <.button phx-click="vacation_offer_page_prev" variant="primary" size="md" id="page_prev">
        上一页
      </.button>
      <.text id="page_info">
        <%= get_in(@vacation_offer, [:page]) || "" %> / <%= get_in(@vacation_offer, [:total_pages]) || "" %>
      </.text>
      <.button phx-click="vacation_offer_page_next" variant="primary" size="md" id="page_next">
        下一页
      </.button>
    </.flex>
  </.section>
</.page>