<.page title="FlightOffer 列表" id="flight_offer_list">
  <.section direction="row" justify="between" align="center" layout="grid" columns={2} id="flight_offer_header">
    <.text variant="title" id="flight_offer_title">
      <%= @page_title %>
    </.text>
    <.button variant="primary" phx-click="navigate_create" size="md" id="flight_offer_create_btn">
      新建
    </.button>
  </.section>
  <.card variant="default" id="flight_offer_filter_card">
    <.card_content id="flight_offer_filter_content">
      <.flex gap={4} align="center" direction="row" id="flight_offer_filter_row">
        <.input name="departure_at_from" label="起飞时间 起" size="md" id="filter_departure_at_from" />
        <.input name="departure_at_to" label="起飞时间 止" size="md" id="filter_departure_at_to" />
        <.input name="arrival_at_from" label="到达时间 起" size="md" id="filter_arrival_at_from" />
        <.input name="arrival_at_to" label="到达时间 止" size="md" id="filter_arrival_at_to" />
        <.select name="sale_status" label="sale_status" size="md" id="filter_sale_status">

        </.select>
        <.button variant="secondary" phx-click="filter_submit" size="md" id="flight_offer_filter_submit">
          查询
        </.button>
      </.flex>
    </.card_content>
  </.card>
  <.table id="flight_offer_table">
    <.table_header id="flight_offer_table_header">
      <.table_row id="flight_offer_header_row">
        <.table_head id="th_tenant_id">
          tenant_id
        </.table_head>
        <.table_head id="th_host_shop_id">
          宿主商城 ID,仅用于宿主侧隔离和桥接上下文
        </.table_head>
        <.table_head id="th_supplier_code">
          供应商编码
        </.table_head>
        <.table_head id="th_itinerary_code">
          行程编码
        </.table_head>
        <.table_head id="th_flight_no">
          航班号
        </.table_head>
        <.table_head id="th_departure_airport_code">
          出发机场编码
        </.table_head>
        <.table_head id="th_arrival_airport_code">
          到达机场编码
        </.table_head>
        <.table_head id="th_departure_at">
          起飞时间
        </.table_head>
        <.table_head id="th_arrival_at">
          到达时间
        </.table_head>
        <.table_head id="th_cabin_class">
          舱等
        </.table_head>
        <.table_head id="th_fare_family">
          运价族
        </.table_head>
        <.table_head id="th_listed_price">
          对客展示价快照
        </.table_head>
        <.table_head id="th_settlement_price">
          结算价快照
        </.table_head>
        <.table_head id="th_currency">
          currency
        </.table_head>
        <.table_head id="th_seats_available">
          可售座位快照
        </.table_head>
        <.table_head id="th_baggage_policy">
          行李规则快照
        </.table_head>
        <.table_head id="th_refund_change_policy">
          退改规则快照
        </.table_head>
        <.table_head id="th_sale_status">
          sale_status
        </.table_head>
      </.table_row>
    </.table_header>
    <.table_body id="flight_offer_table_body">
      <%= for row <- @rows do %>
        <.table_row>
          <.table_cell>
            <%= row.tenant_id %>
          </.table_cell>
          <.table_cell>
            <%= row.host_shop_id %>
          </.table_cell>
          <.table_cell>
            <%= row.supplier_code %>
          </.table_cell>
          <.table_cell>
            <%= row.itinerary_code %>
          </.table_cell>
          <.table_cell>
            <%= row.flight_no %>
          </.table_cell>
          <.table_cell>
            <%= row.departure_airport_code %>
          </.table_cell>
          <.table_cell>
            <%= row.arrival_airport_code %>
          </.table_cell>
          <.table_cell>
            <%= row.departure_at %>
          </.table_cell>
          <.table_cell>
            <%= row.arrival_at %>
          </.table_cell>
          <.table_cell>
            <%= row.cabin_class %>
          </.table_cell>
          <.table_cell>
            <%= row.fare_family %>
          </.table_cell>
          <.table_cell>
            <%= row.listed_price %>
          </.table_cell>
          <.table_cell>
            <%= row.settlement_price %>
          </.table_cell>
          <.table_cell>
            <%= row.currency %>
          </.table_cell>
          <.table_cell>
            <%= row.seats_available %>
          </.table_cell>
          <.table_cell>
            <%= row.baggage_policy %>
          </.table_cell>
          <.table_cell>
            <%= row.refund_change_policy %>
          </.table_cell>
          <.table_cell>
            <.badge variant="default" size="sm">
              <%= row.sale_status %>
            </.badge>
          </.table_cell>
        </.table_row>
      <% end %>
    </.table_body>
  </.table>
  <%= if (@rows_empty && @rows_empty != []) do %>
    <.empty_state description="暂无机票可售 offer,承载航班、舱位、票规和库存快照数据" id="flight_offer_no_data" />
  <% end %>
</.page>