<.page title="列表" id="flight_offer_tree">
  <.section layout="none" id="header">
    <.flex justify="between" align="center" direction="row" id="header_bar">
      <.text variant="title" id="page_title">
        <%= @page_title %>
      </.text>
      <.button variant="primary" phx-click="navigate_create" size="md" id="create_btn">
        新建
      </.button>
    </.flex>
  </.section>
  <.section layout="none" id="filter_section">
    <.card variant="default" id="filter_card">
      <.card_content id="filter_content">
        <.flex gap={4} align="center" direction="row" id="filter_row">
          <.input name="departure_at_from" label="起飞时间 起" size="md" id="filter_departure_at" />
          <.select name="sale_status" label="销售状态" size="md" id="filter_sale_status">

          </.select>
          <.button variant="secondary" phx-click="filter_submit" size="md" id="filter_submit">
            查询
          </.button>
        </.flex>
      </.card_content>
    </.card>
  </.section>
  <.section layout="grid" columns={2} id="table_section">
    <.split ratio="1:3" id="main_split">
      <.stack direction="column" id="left_panel">
        <.tree content="按航空公司分组" id="airline_tree" />
      </.stack>
      <.stack direction="column" id="right_panel" />
    </.split>
    <.table id="data_table">
      <.table_header id="data_header">
        <.table_row id="header_row">
          <.table_head id="th_placeholder">
            数据列
          </.table_head>
        </.table_row>
      </.table_header>
      <.table_body id="data_body">
        <.text id="body_placeholder">
          数据行
        </.text>
      </.table_body>
    </.table>
  </.section>
  <.section layout="none" id="footer">
    <.text id="pagination">
      分页
    </.text>
  </.section>
</.page>