<.page title="列表" id="hotel_offer_list">
  <.section layout="none" id="header">
    <.flex justify="between" align="center" direction="row" id="header_bar">
      <.stack direction="column" id="page_meta">
        <.text variant="caption" color="muted" id="breadcrumb">
          HotelOffer
        </.text>
        <.text variant="h1" id="page_title">
          酒店可售 offer,承载房型、价计划、价态和可售规则快照
        </.text>
      </.stack>
      <.button variant="primary" phx-click="navigate_create" size="md" id="create_btn">
        新建
      </.button>
    </.flex>
  </.section>
  <.section layout="none" id="view_tabs">
    <.tabs default_value="all" id="view_selector">
      <.tabs_list id="view_tab_list">
        <.tabs_trigger value="all" active_value="all" id="trigger_all">
          全部
        </.tabs_trigger>
      </.tabs_list>
    </.tabs>
  </.section>
  <.section layout="none" id="filter_section">
    <.card variant="default" id="filter_card">
      <.card_content id="filter_content">
        <.flex gap={4} align="center" direction="row" id="filter_row">
          <.stack direction="column" id="filter_fields" />
          <.button variant="secondary" phx-click="filter_submit" size="md" id="filter_submit">
            查询
          </.button>
        </.flex>
      </.card_content>
    </.card>
  </.section>
  <.section layout="none" id="table_section">
    <.table id="data_table">
      <.table_header id="data_header">
        <.table_row id="header_row">
          <.table_head id="th_supplier_code">
            供应商编码
          </.table_head>
          <.table_head id="th_hotel_code">
            酒店编码
          </.table_head>
          <.table_head id="th_hotel_name">
            酒店名称
          </.table_head>
          <.table_head id="th_city_code">
            城市编码
          </.table_head>
          <.table_head id="th_room_type_code">
            房型编码
          </.table_head>
          <.table_head id="th_rate_plan_code">
            价计划编码
          </.table_head>
          <.table_head id="th_checkin_date">
            入住日期
          </.table_head>
          <.table_head id="th_checkout_date">
            离店日期
          </.table_head>
          <.table_head id="th_listed_price">
            对客展示价快照
          </.table_head>
          <.table_head id="th_settlement_price">
            结算价快照
          </.table_head>
          <.table_head id="th_currency">
            币种
          </.table_head>
          <.table_head id="th_inventory_count">
            可售库存快照
          </.table_head>
          <.table_head id="th_cancellation_policy">
            取消规则快照
          </.table_head>
          <.table_head id="th_guarantee_policy">
            担保规则快照
          </.table_head>
          <.table_head id="th_sale_status">
            可售状态
          </.table_head>
        </.table_row>
      </.table_header>
      <.table_body id="data_body">
        <%= for row <- (@rows || []) do %>
          <.table_row>
            <.table_cell>
              <%= get_in(row, [:supplier_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:hotel_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:hotel_name]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:city_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:room_type_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:rate_plan_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:checkin_date]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:checkout_date]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:listed_price]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:settlement_price]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:currency]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:inventory_count]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:cancellation_policy]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:guarantee_policy]) || "" %>
            </.table_cell>
            <.table_cell>
              <.badge variant="default" size="sm">
                <%= get_in(row, [:sale_status]) || "" %>
              </.badge>
            </.table_cell>
          </.table_row>
        <% end %>
      </.table_body>
    </.table>
  </.section>
  <.section layout="none" id="empty_section">
    <%= if (@rows_empty && @rows_empty != []) do %>
      <.empty_state description="暂无数据" id="no_data" />
    <% end %>
  </.section>
  <.section layout="none" id="footer">
    <.flex gap={2} direction="row" justify="center" id="pagination_bar">
      <.button phx-click="hotel_offer_page_prev" variant="primary" size="md" id="page_prev">
        上一页
      </.button>
      <.text id="page_info">
        <%= get_in(@hotel_offer, [:page]) || "" %> / <%= get_in(@hotel_offer, [:total_pages]) || "" %>
      </.text>
      <.button phx-click="hotel_offer_page_next" variant="primary" size="md" id="page_next">
        下一页
      </.button>
    </.flex>
  </.section>
</.page>