<.page title="列表" id="order_list">
  <.section layout="none" id="header">
    <.flex justify="between" align="center" direction="row" id="header_bar">
      <.stack direction="column" id="page_meta">
        <.text variant="caption" color="muted" id="breadcrumb">
          TravelOrder
        </.text>
        <.text variant="h1" id="page_title">
          统一酒旅订单,承接 hotel、flight、vacation、train 四类商品的下单和状态流转;通过跨域引用关联 Sales::Customer 和 Payment::Payment
        </.text>
      </.stack>
      <.button variant="primary" phx-click="navigate_create" size="md" id="create_btn">
        新建
      </.button>
    </.flex>
  </.section>
  <.section layout="none" id="view_tabs">
    <.tabs default_value="all" id="view_selector">
      <.tabs_list id="view_tab_list">
        <.tabs_trigger value="all" active_value="all" id="trigger_all">
          全部
        </.tabs_trigger>
      </.tabs_list>
    </.tabs>
  </.section>
  <.section layout="none" id="filter_section">
    <.card variant="default" id="filter_card">
      <.card_content id="filter_content">
        <.flex gap={4} align="center" direction="row" id="filter_row">
          <.stack direction="column" id="filter_fields" />
          <.button variant="secondary" phx-click="filter_submit" size="md" id="filter_submit">
            查询
          </.button>
        </.flex>
      </.card_content>
    </.card>
  </.section>
  <.section layout="none" id="table_section">
    <.table id="data_table">
      <.table_header id="data_header">
        <.table_row id="header_row">
          <.table_head id="th_order_no">
            订单号
          </.table_head>
          <.table_head id="th_product_type">
            商品类型
          </.table_head>
          <.table_head id="th_booking_mode">
            train 订单预订模式
          </.table_head>
          <.table_head id="th_contact_name">
            contact_name
          </.table_head>
          <.table_head id="th_contact_phone">
            contact_phone
          </.table_head>
          <.table_head id="th_traveler_count">
            出行人数量
          </.table_head>
          <.table_head id="th_total_amount">
            订单总金额
          </.table_head>
          <.table_head id="th_points_to_use">
            计划使用的积分数量
          </.table_head>
          <.table_head id="th_points_deduction_amount">
            积分抵现金额
          </.table_head>
          <.table_head id="th_recommended_payment_method">
            宿主 quote 返回的推荐支付方式
          </.table_head>
          <.table_head id="th_currency">
            currency
          </.table_head>
          <.table_head id="th_status">
            status
          </.table_head>
          <.table_head id="th_change_status">
            change_status
          </.table_head>
          <.table_head id="th_waitlist_status">
            waitlist_status
          </.table_head>
          <.table_head id="th_original_order_ref">
            改签链路引用的原订单号或原票号
          </.table_head>
          <.table_head id="th_ticket_passenger_infos">
            乘车人信息快照
          </.table_head>
          <.table_head id="th_seat_selection_snapshot">
            选座与席别偏好快照
          </.table_head>
          <.table_head id="th_supplier_order_ref">
            供应商订单号
          </.table_head>
          <.table_head id="th_payment_external_ref">
            宿主支付侧外部支付流水号
          </.table_head>
        </.table_row>
      </.table_header>
      <.table_body id="data_body">
        <%= for row <- (@rows || []) do %>
          <.table_row>
            <.table_cell>
              <%= get_in(row, [:order_no]) || "" %>
            </.table_cell>
            <.table_cell>
              <.badge variant="default" size="sm">
                <%= get_in(row, [:product_type]) || "" %>
              </.badge>
            </.table_cell>
            <.table_cell>
              <.badge variant="default" size="sm">
                <%= get_in(row, [:booking_mode]) || "" %>
              </.badge>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:contact_name]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:contact_phone]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:traveler_count]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:total_amount]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:points_to_use]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:points_deduction_amount]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:recommended_payment_method]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:currency]) || "" %>
            </.table_cell>
            <.table_cell>
              <.badge variant="default" size="sm">
                <%= get_in(row, [:status]) || "" %>
              </.badge>
            </.table_cell>
            <.table_cell>
              <.badge variant="default" size="sm">
                <%= get_in(row, [:change_status]) || "" %>
              </.badge>
            </.table_cell>
            <.table_cell>
              <.badge variant="default" size="sm">
                <%= get_in(row, [:waitlist_status]) || "" %>
              </.badge>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:original_order_ref]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:ticket_passenger_infos]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:seat_selection_snapshot]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:supplier_order_ref]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:payment_external_ref]) || "" %>
            </.table_cell>
          </.table_row>
        <% end %>
      </.table_body>
    </.table>
  </.section>
  <.section layout="none" id="empty_section">
    <%= if (@rows_empty && @rows_empty != []) do %>
      <.empty_state description="暂无数据" id="no_data" />
    <% end %>
  </.section>
  <.section layout="none" id="footer">
    <.flex gap={2} direction="row" justify="center" id="pagination_bar">
      <.button phx-click="travel_order_page_prev" variant="primary" size="md" id="page_prev">
        上一页
      </.button>
      <.text id="page_info">
        <%= get_in(@travel_order, [:page]) || "" %> / <%= get_in(@travel_order, [:total_pages]) || "" %>
      </.text>
      <.button phx-click="travel_order_page_next" variant="primary" size="md" id="page_next">
        下一页
      </.button>
    </.flex>
  </.section>
</.page>