<.page title="列表" id="travel_static_code_mapping_list">
  <.section layout="none" id="header">
    <.flex justify="between" align="center" direction="row" id="header_bar">
      <.stack direction="column" id="page_meta">
        <.text variant="caption" color="muted" id="breadcrumb">
          TravelStaticCodeMapping
        </.text>
        <.text variant="h1" id="page_title">
          供应商静态码到 Travel 主数据的映射（Travel 层统一适配）
        </.text>
      </.stack>
      <.button variant="primary" phx-click="navigate_create" size="md" id="create_btn">
        新建
      </.button>
    </.flex>
  </.section>
  <.section layout="none" id="view_tabs">
    <.tabs default_value="all" id="view_selector">
      <.tabs_list id="view_tab_list">
        <.tabs_trigger value="all" active_value="all" id="trigger_all">
          全部
        </.tabs_trigger>
      </.tabs_list>
    </.tabs>
  </.section>
  <.section layout="none" id="filter_section">
    <.card variant="default" id="filter_card">
      <.card_content id="filter_content">
        <.flex gap={4} align="center" direction="row" id="filter_row">
          <.stack direction="column" id="filter_fields" />
          <.button variant="secondary" phx-click="filter_submit" size="md" id="filter_submit">
            查询
          </.button>
        </.flex>
      </.card_content>
    </.card>
  </.section>
  <.section layout="none" id="table_section">
    <.table id="data_table">
      <.table_header id="data_header">
        <.table_row id="header_row">
          <.table_head id="th_supplier_code">
            供应商编码
          </.table_head>
          <.table_head id="th_object_type">
            主数据对象类型
          </.table_head>
          <.table_head id="th_canonical_entity">
            Travel 实体名
          </.table_head>
          <.table_head id="th_external_code">
            供应商侧编码
          </.table_head>
          <.table_head id="th_external_name">
            供应商侧名称
          </.table_head>
          <.table_head id="th_status">
            status
          </.table_head>
        </.table_row>
      </.table_header>
      <.table_body id="data_body">
        <%= for row <- (@rows || []) do %>
          <.table_row>
            <.table_cell>
              <%= get_in(row, [:supplier_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <.badge variant="default" size="sm">
                <%= get_in(row, [:object_type]) || "" %>
              </.badge>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:canonical_entity]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:external_code]) || "" %>
            </.table_cell>
            <.table_cell>
              <%= get_in(row, [:external_name]) || "" %>
            </.table_cell>
            <.table_cell>
              <.badge variant="default" size="sm">
                <%= get_in(row, [:status]) || "" %>
              </.badge>
            </.table_cell>
          </.table_row>
        <% end %>
      </.table_body>
    </.table>
  </.section>
  <.section layout="none" id="empty_section">
    <%= if (@rows_empty && @rows_empty != []) do %>
      <.empty_state description="暂无数据" id="no_data" />
    <% end %>
  </.section>
  <.section layout="none" id="footer">
    <.flex gap={2} direction="row" justify="center" id="pagination_bar">
      <.button phx-click="travel_static_code_mapping_page_prev" variant="primary" size="md" id="page_prev">
        上一页
      </.button>
      <.text id="page_info">
        <%= get_in(@travel_static_code_mapping, [:page]) || "" %> / <%= get_in(@travel_static_code_mapping, [:total_pages]) || "" %>
      </.text>
      <.button phx-click="travel_static_code_mapping_page_next" variant="primary" size="md" id="page_next">
        下一页
      </.button>
    </.flex>
  </.section>
</.page>